.stButton > button {
    background-color: #6371C7;
    border-radius: 200px;
    box-align: center;
    width: 11.75em;
    border: 1px solid #6371C7;
   }

   
div.css-1p05t8e {
    background-color: #2fc0a1;
    border: 1px solid #2fc0a1;
    border-radius: 16px;
    
}
 
  .stMarkdown {
    text-align: center;
    
   }
